.logo{
    color:#4e47ff;
    
    font-family:"Inter";
    font-weight: 900;
    
}

html,body{
padding:0;
margin:0;
}


header{
     background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 698px;
    
}

.header-sec{
    display: flex;
    justify-content: space-between;
    gap:auto;
    padding:50px 100px;
    align-items: center;
   
}

button{
    background-color: #4e47ff;
    border-radius:10px ;
    color:white;
    text-align: center;
    border: 10px;
    padding: 15px;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 16px;

}

button:hover{
    background-color: yellow;
    color:black;
    font-size: 18px;
}
.signup-btn{
    width:132px;
    height: 48px;
}



.hero-text{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color:#252432;
font-family: 'Raleway';
    max-height: 237px;
    max-width: 905px;
    padding-top:120px;
    padding-left: 300px;
   margin-bottom: 35px;
 
}
.hero-btn{
    


margin-left: 670px; 
text-align: center;
width:174px;
height: 48px;

    
}


/* main */

main{
    background-color: rgba(214,221,237,.3);
}
/* action-design */

.action{
    display: flex;
   
    justify-content: space-between;
    padding:150px  100px;
    gap:auto;
}
.action-col-1
{
    width:500px;
    height:203px;
}
.action-text{
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 42px;
    margin-bottom: 15px;
}
.action-sub{
    font-size: 24px;
    font-family: 'Raleway';
 font-weight: 400;
    color:rgba(37, 36, 50, 0.5);
    margin-bottom: 30px;

}

.action-btn{
    width: 230px;
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway';
}

/* Productive user design */

.productive-user{
    background-color: rgba(78,71,255,.1);
    padding:30px 50px;
    border-radius: 24px;
    margin:0 100px;
}
.user-info{
    display: flex;
    gap:100px;
    text-align: center;
    justify-content: center;
}
.user-text{
    text-align: center;
    font-size: 38px;
    font-family: 'Raleway';
    font-weight: 700;
}

.usr-num{
    font-weight: 700;
    font-family: 'Inter';
    font-size: 80px;
    color:#4e47ff;
    margin: 0px 30px;
    
   
}

.p-usr-sub{
    color:rgba(0,0,0,.5);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin-top: 0;
   
    
    
}


/* review-design */

.review{
    padding-top:100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 80px;
}
.review-txt{
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 30px;
}
.star-pic{
    display: inline-block;
}

.review-sec{
    display: flex;
    justify-content: space-around;
}

.review-card{
    background-color:rgba(255,255,255,.5) ;
    border:3px solid rgba(242,237,237,0.9);
    border-radius: 14px;
    padding-top:20px;
    padding-left: 15px;
    padding-right: 80px;
    margin-right:20px;
    padding-bottom: 30px;
   
}

.reviewer-sec{
    display: inline-flex;
   align-items: center;
   gap: 15px;
 
  
}

.card-txt{
    font-family: sans-serif;
    margin-bottom: 5px;
}

.card-sub-txt{
   
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color:rgba(0,0,0,0.9)
   
}
.reviewer-info{
    height: 50px;

}

.reviewer-name{
    color:#666666;
    font-family: sans-serif;
    margin-bottom:6px ;
    padding-top: 6px;
    font-weight: bold;
    
}
.date
{
   
    color:#999999;
    font-weight: 400;
  
    font-family: sans-serif;
}


/* focus section */

.focus{
    text-align: center;
    background-color: white;
    
    padding:90px 150px;
    border-radius: 14px;
    padding-bottom: 50px;
    margin:30px 100px;

}

.focus-txt{
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: bold;
    
}

.focus-txt-sub{
    color:rgba(0,0,0,0.5);
    font-family: sans-serif;
    
}

.focus-btn{
    width:198px;
    font-weight: 400;
    text-align: center;
}

.focus-img{
    border-radius: 48px;
    width:950px;
    height:400px;
   
}


/* newsletter design */
.newsletter{
    margin:0 90px;
    padding-bottom: 100px;
}
.newsletter-sec{
    display: flex;
    justify-content: space-between;
    gap:auto;
}

.newsletter-txt{
    font-size: 97px;
    font-weight: bold;
    font-family: 'Raleway';
    padding-top:300px ;
    padding-right:100px;
}

form{
    padding-top:200px;
   
}
label{
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
    margin-right:10px;

}
 input{
    margin-top: 10px;
   height:20px;
border-radius: 10px;
background-color: white;
display: block;
width:570px;

margin-bottom: 24px;
border:2px solid #D6DDED;
font-size: 20px;
padding-top:20px;
padding-bottom: 20px;
padding-left:30px;
font-family: 'Inter';
font-weight: 400;

}

textarea{
    padding-top:20px;
margin-top:10px;
padding-left:30px;
      border-radius: 10px;
background-color: white;
display: block;
width:470px;
height: 160px;
padding-right:100px;
margin-bottom: 24px;
border:2px solid #D6DDED;

font-size: 20px;
font-family: 'Inter';
font-weight: 400;
}

.touch-btn{
    width: 600px;
    font-size: 16px;
    height: 62px;
    font-family: 'Raleway';
    font-weight: Bold;
}

/* footer-design */
.footer-sec{
    padding:150px 0 100px 0px;
    border: 1px solid rgba(0,0,0,0.1);
}
.footer-txt
{
    text-align: center;
}

.footer-sub{
   justify-content: center;
   padding:0 505px;
   font-family: sans-serif;
}

.f-sub-txt{
    color:#8987A1;
    font-family: sans-serif;
}


footer ul{
   
    display: flex;
 gap:46px;
    list-style: none;
    padding-left:565px;
    padding-top: 5px;

    
}

footer li a{
    text-decoration: none;
    color:#8987A1;
     font-family: sans-serif;
}

footer li a:hover{
    color:red;
    font-size: 19px;
}