.logo{
    color:#4e47ff;
    font-size: 34px;
    font-family:"Inter";
    font-weight: 900;
    
}
header{
     background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 650px;
    
}

.header-sec{
    display: flex;
    justify-content: space-between;
    gap:auto;
    padding:0px 50px;
    align-items: center;
   
}

button{
    background-color: #4e47ff;
    border-radius:10px ;
    color:white;
    text-align: center;
    border: 10px;
    padding: 15px;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 16px;

}
.signup-btn{
    width:132px;
    height: 48px;
}



.hero-text{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    color:#252432;
font-family: 'Raleway';
    max-height: 237px;
    max-width: 905px;
    padding-top:120px;
    padding-left: 300px;
   
 
}
.hero-btn{
display: block;
margin-left: 700px;
width:174px;
height: 48px;

    
}

/* action-design */

.action{
    display: flex;
   
    justify-content: space-between;
    padding:100px 100px;
    gap:auto;
}
.action-col-1
{
    width:500px;
    height:203px;
}
.action-text{
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 42px;
}
.action-sub{
    font-size: 24px;
    font-family: 'Raleway';
 font-weight: 400;
    color:rgba(37, 36, 50, 0.5);

}

.action-btn{
    width: 230px;
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway';
}

/* Productive user design */

.productive-user{
    background-color: rgba(78,71,255,.1);
    padding:30px 50px;
    border-radius: 24px;
    margin:100px;
}
.user-info{
    display: flex;
    gap:100px;
    text-align: center;
    justify-content: center;
}
.user-text{
    text-align: center;
    font-size: 38px;
    font-family: 'Raleway';
    font-weight: 700;
}

.usr-num{
    font-weight: 700;
    font-family: 'Inter';
    font-size: 80px;
    color:#4e47ff;
    margin: 0px 30px;
    
   
}

.p-usr-sub{
    color:rgba(0,0,0,.5);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin-top: 0;
   
    
    
}